.accordion {
  border-left: 1px solid currentColor;
}

.accordion:hover {
  cursor: pointer;
}

.accordion > li {
  width: 100%;
  display: flex;
  transition: all .5s ease-in-out;
  padding: 1em;
}

.accordion > .accordion__title {
  visibility: visible;
  justify-content: space-between;
}

.accordion > li:not(.accordion__title) {
  visibility: hidden;
  height: 0;
  opacity: 0;
  padding: 0 1em;
}

.accordion.open > li {
  visibility: visible;
  height: auto;
  opacity: 1;
  padding: 1em;
}

.accordion__arrow {
  transition: all .5s ease-in-out;
}

.accordion.open > .accordion__title > .accordion__arrow {
  transform: rotate(180deg);
}