input, select {
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid #666;
  cursor: pointer;
  outline-color: var(--theme-color-1);
  font-size: 1rem;
  border-radius: 0;
}

input:focus, select:focus, input:hover, select:hover {
  outline: none;
  border-bottom-color: var(--theme-color-1);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


label {
  width: 100%;
}

[tabindex] {
  outline: none;
}