input,
select {
  background-color: var(--theme-color-1);
  color: #121212;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  width: 100%;
  cursor: pointer;
  outline-color: var(--theme-color-1);
  font-size: .875rem;
  border-radius: 1rem;
  padding: .25rem .5rem;
}

input:focus,
select:focus,
input:hover,
select:hover {
  outline: none;
  border-bottom-color: var(--theme-color-1);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

[tabindex] {
  outline: none;
}

input[type="color"] {
  padding: 0;
  width: 2rem;
}