
/*NAVBAR*/
.nav {
  display: block;
}

.nav__icon {
  position: fixed;
  z-index: 11;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.nav__icon hr {
  all: unset;
  border: 1px solid black;
  transition: all .5s ease-in-out;
  width: 20px;
}

.nav__icon:hover hr {
  border: 1px solid currentColor;
}

.nav.open .nav__icon {
  background-color: transparent;
}

.nav.open .nav__icon hr:nth-child(1) {
  transform: translateY(7px) rotate(225deg);
}
.nav.open .nav__icon hr:nth-child(2) {
  width: 0;
  border: 2px solid transparent;
  transform: rotate(225deg);
}
.nav.open .nav__icon hr:nth-child(3) {
  transform: translateY(-7px) rotate(315deg);
}

.nav__menu {
  display: none;
  position: fixed;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #aaa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: top 0.2s ease-in-out;
  z-index: 10;
}

.nav.open .nav__menu {
  display: block;
}


nav > ul {
  display: block;
  float: right;
}

nav > ul > li {
  display: block;
  float: left;
}

nav a {
  display: block;
  padding: 1em;
}

nav a:hover {
  background-color: #ffaa00;
  color: white;
}

.nav-first {
  border-bottom-left-radius: 5px;
}

.nav-last {
  border-bottom-right-radius: 5px;
}

.nav-scroll {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  font-size: 48px;
  bottom: 0;
  right: 0;
  margin: 60px;
  color: #fa0;
}

.hide {
  display: none;
}
