
/*NAVBAR*/
.nav {
  display: block;
}

.nav__icon {
  position: fixed;
  z-index: 11;
  height: 21px;
  width: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
}

.nav__icon hr {
  all: unset;
  border: 1px solid black;
  background: black;
  transition: all .5s ease-in-out;
  width: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

.nav__icon:hover {
  background: rgba(0, 0, 0, .25);
}

.nav__icon:hover hr,
.nav__icon:focus hr {
  border: 1px solid var(--theme-color-1);
  background: var(--theme-color-1);
}

.nav.open .nav__icon hr {
  box-shadow: none;
  border: 1px solid var(--theme-color-1);
  background: var(--theme-color-1);
}
.nav.open .nav__icon hr:nth-child(1) {
  transform: translateY(7.5px) rotate(225deg);
}
.nav.open .nav__icon hr:nth-child(2) {
  width: 0;
  border: 2px solid transparent;
  background: transparent;
  transform: rotate(225deg);
}
.nav.open .nav__icon hr:nth-child(3) {
  transform: translateY(-7.5px) rotate(315deg);
}

.nav__menu {
  width: 240px;
  display: flex;
  position: fixed;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: var(--theme-color-3);
  transition: all 0.2s ease-in-out;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  /* box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.5); */
}

.nav.open .nav__menu {
  max-height: 100vh;
}

.nav__menu__list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 3em 0;
}

.nav__menu__list > li {
  width: 100%;
}

.nav__close {
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: none;
  height: 100%;
  width: 100%;
}

.nav.open .nav__close {
  display: block;
}

nav a,
nav details {
  display: block;
  padding: 1em;
  text-decoration: none;
  border-left: 1px solid transparent;
  outline: none;
}

nav summary {
  list-style: none;
}
nav summary:hover {
  margin: 0 .5em;
  transition: margin .15s ease-out;
}

nav a:hover,
nav a:focus,
nav a:target {
  transition: margin .15s ease-out;
  margin: 0 .5em;
}

.theme-color-setter {
  flex-direction: column;
}

.theme-color-setter-options {
  display: flex;
}