/*CLEARFIX*/
.group:after {
  content: "";
  display: block;
  clear: both;
}


/*CONTENT*/


/*SKILLS*/

/*CONTACT*/
.slide5 {
  background: #34495e;
  color: white;
  padding: 40px;
  text-align: center;
}

.slide5 > h2 {
  margin: 20px;
}

.contact-info {
  display: block;
  max-width: 300px;
  margin: auto;
  text-align: left;
}

.contact-info > li {
  position: relative;
  height: 40px;
  width: 300px;
  font-size: 20px;
}

.address {margin-top: 20px;}

.fa-mobile, .fa-envelope, .fa-home, .fa-github, .fa-linkedin {
  position: absolute;
  bottom: 0;
  right: 280px;
  font-family: sans-serif;
  font: normal normal normal 30px/1 FontAwesome !important;
}

.fa-mobile {
  font: normal normal normal 40px/1 FontAwesome !important;
}

.fa-envelope {
  font: normal normal normal 26px/1 FontAwesome !important;
}

.fa-home {
  font: normal normal normal 34px/1 FontAwesome !important;
}

.contact-text {
  position: absolute;
  bottom: 0;
  left: 50px;
}
