<script type="module" data-module="@gilansalehi/about" src="/js/views/page.js"></script>

<!-- ABOUT -->
<article id="about" class="slide slide--2 about">
  <h2 class="about__title" data-scroll-animation="animate__fadeInUp">About Me</h2>
  <p class="about__text" data-scroll-animation="animate__fadeInUp">
    Hi. I'm a web developer based in New York City. I'm experienced with Ruby, Rails, JavaScript, React, and Node.
    I love building modular, scalable code, and finding elegant solutions to challenging problems. I live for the
    perfect puzzle.
    <br><br>
    When I'm not coding, I enjoy
    <a>hiking</a>,
    <a>chess</a>, and making
    <a href="http://www.apricity.nyc">music</a>.
  </p>
</article>
