<script type="module" data-module="@gilansalehi/home" src="/js/views/page.js"></script>

<div id="home">
<!-- PROFILE -->
<section class="slide slide--1 scrolltarget">
  <div class="profile animate__animated animate__bounceInDown photo animation-root">
    <div class="profile__image__frame">
      <img class="profile__image" src="./images/profile.jpg">
    </div>
    <div class="profile__body">
      <h1 class="profile__title text--outline animation-frame animation-frame--radial">Gilan Salehi</h1>
      <h2 class="profile__subtitle text--outline">
        Web Developer <br>
        <hr class="">
        <strong>NEW YORK CITY</strong>
      </h2>
    </div>
  </div>
</section>

<!-- ABOUT -->
<article id="about" class="slide slide--2 about">
  <h2 class="about__title" data-scroll-animation="animate__fadeInUp">About Me</h2>
  <p class="about__text" data-scroll-animation="animate__fadeInUp">
    Hi. I'm a web developer based in New York City. I'm experienced with Ruby, Rails, JavaScript, React, and Node.
    I love building modular, scalable code, and finding elegant solutions to challenging problems. I live for the
    perfect puzzle.
    <br><br>
    When I'm not coding, I enjoy
    <a>hiking</a>,
    <a>chess</a>, and making
    <a href="http://www.apricity.nyc">music</a>.
  </p>
</article>

</div>
