:root {
    --theme-color-0: hsl(0, 0, 0);
    --theme-color-1: #ffffff;
    --theme-color-2: #95adb2;
    --theme-color-3: #9a6565;
}

body {
    --theme-color-1-dark: color-mix(in srgb, var(--theme-color-1) 90%, black);
    --theme-color-1-darker: color-mix(in srgb, var(--theme-color-1) 80%, black);
    --theme-color-2-dark: color-mix(in srgb, var(--theme-color-2) 84%, black);
    --theme-color-3-dark: color-mix(in srgb, var(--theme-color-3) 80%, black);

    --shadow: 0 0 2px 0 var(--theme-color-0);

    color: var(--theme-color-1);
    background-color: var(--theme-color-2);
}

html[data-reduce-motion] {
    scroll-behavior: auto;
}

html[data-reduce-motion] *,
html[data-reduce-motion] *::before,
html[data-reduce-motion] *::after {
    scroll-behavior: auto !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
}
